<h2> About page </h2>

<button class="btn btn-primary" onClick="something()"> Click me </button>


<% @products.each do |product| %>
  <p><%= product.title %></p>
<% end %>
<div class="container-fluid">
 <div class="row">
<% @products.each do |product| %>
 
  <div class="col-md-4"><%= product.title %></div>
  <div class="col-md-4">.col-md-4</div>
  <div class="col-md-4">.col-md-4</div>
<% end %>
</div>

<div class="row">
  <div class="col-md-4">.col-md-4</div>
  <div class="col-md-4">.col-md-4</div>
  <div class="col-md-4">.col-md-4</div>
</div>
<div class="row">
  <div class="col-md-4">.col-md-4</div>
  <div class="col-md-4">.col-md-4</div>
  <div class="col-md-4">.col-md-4</div>
</div>
<div class="row">
  <div class="col-md-4">.col-md-4</div>
  <div class="col-md-4">.col-md-4</div>
  <div class="col-md-4">.col-md-4</div>
</div>
  
  </div>
