<h2> Welcome Pizza Shop </h2>

<div class="row">

<% @products.each do |p|%>
    <div class="col-md-3">    
        <%= p.title %>   
    </div>

    <div class="col-md-3">    
        <img src="<%= p.path_to_image%>" />
    </div>

    <div class="col-md-3">    
        <%= p.description %>   
    </div>

 
    <%end%>
</div>

<button class="btn btn-primary" onClick="something()"> Click me </button>



